.flex-single {
    display: flex;
    background-color: DodgerBlue;
    justify-content: center;
    border-radius: 25px;
    margin: 10px;
    
}
  
  .flex-single > div {
    display: flex;
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
    width: 100%;
    justify-content: center;
    border-radius: 25px;
  }
  .flex-double {
    display: flex;
    background-color: DodgerBlue;
    justify-content: center;
    border-radius: 25px;
    margin: 10px;
}
  
  .flex-double > div {
    display: flex;
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
    width: 50%;
    justify-content: center;
    border-radius: 25px;
  }
  .flex-four {
    display: flex;
    background-color: DodgerBlue;
    justify-content: center;
    border-radius: 25px;
    margin: 10px;
}
  
  .flex-four > div {
    display: flex;
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
    width: 25%;
    justify-content: center;
    border-radius: 25px;
  }
  .flex-eight {
    display: flex;
    background-color: DodgerBlue;
    justify-content: center;
    border-radius: 25px;
    margin: 10px;
}
  
  .flex-eight > div {
    display: flex;
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
    width: 12.5%;
    justify-content: center;
    border-radius: 25px;
  }
  .blue {
    display: flex;
    justify-content: center;
color: blue;
font-style: italic;
padding-bottom: 30px;
  }